.button-group-center{
    .not-allowed{
        cursor: not-allowed !important;
        >*{
            cursor: not-allowed;
        }
    }
    .disabled-btn{
        color: #fff;
        cursor: default !important;
        background: #474E5A !important;
        i,svg{
            color: #fff;
            cursor: default !important;
        }
        &:hover{
            background: #474E5A !important;
        }
    }}