@import '../../../assets/scss/SassMixins.scss';

.logout-popup {
    width: 100%;
    max-width: 20.625em;
    padding: 1.563em 1.875em;
    background-color: $white;
    @include border-radius(5px);
    @include box-shadow(0px 6px 16px #00000024);
    
    
    .logout-label {
      h5{
        font-size: $font18;
        font-family: $semibold;
        color: $popupHeadingLabel;
        margin-bottom: 0.625em;
      }
      label {
        font-size: $font14;
        font-family: $regular;
        line-height: 1.3125rem;
        color: $popupHeadingLabel;
      }
    }
    .logout-noteinfo {
      margin-top: 1.5em;
      text-align: right;
      button {
        min-width: 60px;
        padding: 0.375em 0.9375em;
        border: none;
        font: normal normal 0.875rem/1.0625rem var(--regular);
        color: #383636;
        margin-left: 0.833em;
        border-radius: 0.3125em;
        cursor: pointer;
        letter-spacing: 0px;
        transition: 200ms linear;
      }
      button.btn-logout {
        background-color: $primary;
        color: $white;
      }
    }
    &.lg{
      max-width: 24em;
    }
  }
