@import '../../../assets/scss/SassMixins.scss';

.logout-popup {
    width: 100%;
    max-width: 20.625em;
    padding: 1.563em 1.875em;
    background-color: $white;
    @include border-radius(5px);
    @include box-shadow(0px 6px 16px #00000024);
    
    
    .logout-label {
      h5{
        font-size: $font18;
        font-family: $semibold;
        color: $popupHeadingLabel;
        margin-bottom: 0.625em;
      }
      label {
        font-size: $font14;
        font-family: $regular;
        line-height: 1.3125rem;
        color: $popupHeadingLabel;
      }
    }
    .logout-noteinfo {
      margin-top: 1.875em;
      text-align: right;
      button {
        height: 2.500em;
        width: 6.667em;
        border: none;
        font-size: $font12;
        font-family: $semibold;
        margin-left: 0.833em;
        background-color: $button;
        color: $popuptext;
        @include border-radius(2px);
        cursor: pointer;
        text-transform: uppercase;
      }
      button.btn-logout {
        background-color: $primary;
        color: $white;
      }
    }
    &.lg{
      max-width: 24em;
    }
  }
