@import "../../../assets/scss/fonts.scss"; 
@import "../../../assets/scss/variables.scss";
.create_new_meeting_wraper {
    position: relative;

    .create_new_meeting {
        background-color: #F8F8F8;
        display: flex;
        align-items: center;
        padding: 0.45em 1.125em 0.45em 1.25em;
        border: 1px solid #F8F8F8;
        font-size: 19px;
        cursor: pointer;
        width: 100%;

        .links_icon {
            width: 2.688em;
            height: 2.688em;
            background-color: #E3E9F9;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;

            svg {
                width: 0.75em;
                height: 0.3125em;

                path {
                    fill: #3276E2;
                    stroke: #3276E2;
                }
            }
        }

        .create_meeting_info {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            text-align: left;
            padding-left: .938em;

            strong {
                font: normal normal 0.795rem/100% var(--medium);
                letter-spacing: 0px;
                color: #000000;
                margin-bottom: 5px;
                width: 100%;
                display: inline-block;
            }

            span {
                width: 100%;
                display: inline-block;
                font: normal normal 0.625rem/100% var(--regular);
                letter-spacing: 0px;
                color: #767676;
            }
        }
    }

    .Create_meeting_popup {
        position: absolute;
        width: 12.7em;
        background: #FFFFFF;
        box-shadow: 3px 3px 8px #98989840;
        border: 1px solid #ECECEC;
        border-radius: 0.5em;
        left: 85%;
        top: 1.25em;
        z-index: 9;
        padding: 0.75em;

        h2 {
            font: normal normal 0.75rem/100% var(--semibold);
            letter-spacing: 0px;
            color: #000000;
            margin-bottom: 5px;
        }

        p {
            font: normal normal 0.625rem/120% var(--regular);
            letter-spacing: 0px;
            color: #767676;
            margin-bottom: 12px;
        }

        .input_wraper {
            width: 100%;
            height: 2.625em;
            background: #F2F2F2;
            display: flex;
            padding: 0.875em 0.75em;
            align-items: center;
            margin-bottom: 0.75em;
            border-radius: 0.375em;

            .link {
                border-radius: 0.375em;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                font: normal normal 0.75rem/100% var(--regular);
                letter-spacing: 0px;
                color: #6580CB;
                flex: 1;
                width: 100%;
                padding-right: 0.625em;
            }

            .copy_btn {
                width: 0.875em;
                height: 1.0625em;
                flex-shrink: 0;
                padding: 0;
                border: none;
                cursor: pointer;

                svg path {
                    fill: #575757;
                }

                &:hover {
                    transition: 150ms ease-in-out;

                    svg {
                        path {
                            fill: #3276E2;
                            transition: 150ms ease-in-out;
                        }
                    }
                }
            }
        }

        .invite_new_meeting {
            cursor: pointer;
            font: normal normal 0.75rem/100% var(--semibold);
            letter-spacing: 0px;
            width: 100%;
            padding:9px 0;
            color: #3276E2;
            border: 1px solid #3276E2;
            border-radius: 1.1875em;
            background: #fff;
            transition: 150ms ease-in-out;

            &:hover {
                background: #1c5fca;
                color: #fff;
                transition: 150ms ease-in-out;
            }
        }

        .join_new_meeting {
            cursor: pointer;
            width: 100%;
            padding:9px 0;
            margin-top: 0.75em;
            border: 1px solid #3276E2;
            font: normal normal 0.75rem/100% var(--semibold);
            letter-spacing: 0px;
            color: #FFFFFF;
            background: #3276E2;
            border-radius: 1.1875em;
            margin-bottom: 0.75em;

            &:hover {
                background: #1c5fca;
                color: #fff;
                transition: 150ms ease-in-out;
            }
        }
        .join_btn_disabel{
          background: #A8A8A8;
          border: none;
          cursor: not-allowed;

          &:hover {
              background: #A8A8A8;
              color: #fff;
          }
        }
        &.instantCallScheduling{
            position: absolute;
            width: 365px;
            background: #FFFFFF;
            box-shadow: 3px 3px 8px #98989840;
            border: 1px solid #ECECEC;
            border-radius: 0.5em;
            left: 50%;
            top: 50%;
            z-index: 9;
            padding: 40px;
            transform: translate(-50%, -50%);   
            h2{
                font-size: 14px;
                margin-bottom: 4px;
            }
            p{  
              margin-bottom: 14px;
              @media(min-width:1800px){
                width: 315px;
              }
            }
            .join_new_meeting{
              margin:0;
            }
            .border{
                margin:16px 0;
            }
           
        } 
    }

    .border {
        border-top: 1px solid #D8D8D8;
    }

    @media screen and (max-width:1024px) {
        .Create_meeting_popup {
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        &.open::before {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: #00000020;
            content: '';
        }
    }
}

// instant call scheduling
.calender-switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 16px; 
    input { 
        opacity: 0;
        width: 0;
        height: 0;
      }
       
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
   &:before {
        position: absolute;
        content: "";
        height: 12px;
        width: 12px;
        left: 3px;
        top: 1px;
        transform: translateY(0px);
        background-color: #767676;
        transition: .4s;
        box-shadow: 0 0 0.688em -0.188em #B2B2B2;
    }
    &.round {
        border-radius: 34px;
        border:1px solid #767676;
        &::before{ 
                border-radius: 50%;  
        }
      }
  }
    
  input:checked + .slider {
    background-color: #2196F3;
    &.round {
        background-color: #fff; 
        border:1px solid #2196F3;
    }
    &:before{
        transform: translateX(12px);
        right: 0;
        top: 1px;
        background-color: #3276E2;
    }
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  

 
  }  

  .schedule-meeting{
    display: flex; 
    align-items: center; 
    margin-top: 20px;

    h4{
        font:normal normal 14px var(--semibold);
        display: flex;
        flex: 1;
    }
    .toggle-container{
        display: flex; 
    }
    .calendarOption{
        display: flex;
    }
  }
  .calendar-time{
    position: relative;
    i{
        position: absolute;
        top: 25px;
        right: 11px;
        svg{
            fill: #656565;
            width: 24px;
            height: 24px;
        }

    }
  }
  .meeting_center_description svg{ 
    width: 25px; 
    height: 16px;
   }
   .meeting_center_left{
     .scheduled_label {
         display: block;
         width: 100%;   
         font-size: 14px;
         font-family: $medium;
         padding-bottom: 3px;
     }
     .scheduled_message{ 
       font:normal normal 12px/17px var(--regular);
       margin-top: 3px;
     }
   }
   .receiver{
    .meeting_center_left{ 
        .scheduled_message{
          color:#B3CEEE; 
        }
      }
   }
   .chat-meet{
     svg{
       height: 15px;
       width: 15px;
       position: relative;
       top: 2px;
       left: 0;
     }
   }
 .recentText{
     position: relative;
   }
 .call_icon {
   svg{
     path{
       fill: #FFFFFFA3;
     }
   }
 }
 .reply-message-type{
   background-color: transparent;
   .mirrorfly_meeting_logo {
     width: 30px;
     height: 30px;
   }
 }

 .edit-message-type{
  background-color: transparent;
  .mirrorfly_meeting_logo {
    width: 30px;
    height: 30px;
  }
}
 
 .close_popup {
   svg {
     width: 16px;
     height: 16px;
     position: absolute;
     top: 15px;
     right: 20px;
     cursor: pointer;
     path{
        fill: #181818;
        stroke: #181818;
     }
   }
 }

 @media(max-width:1500px){
    .create_new_meeting_wraper .Create_meeting_popup.instantCallScheduling{  
    transform: translate(-50%, -80%); 
    top:0;
    }
  }  
  @media(max-width:767px){
    .create_new_meeting_wraper .Create_meeting_popup.instantCallScheduling{  
       transform: translate(-51%, -100%);
        top: 0;
    }
  }  

 @media(min-width:1800px){
    .create_new_meeting_wraper .Create_meeting_popup.instantCallScheduling{ 
        width: 400px; 
    }
}
  @media(min-width:2000px){
    .create_new_meeting_wraper .Create_meeting_popup.instantCallScheduling{ 
    width: 430px;
    transform: translate(-50%, -100%);
    top:0;
    }
  }  