@import '../../../../assets/scss/variables.scss';
@import '../../../../assets/scss/SassMixins.scss';
@import '../../../../assets/scss/mixins.scss';

.chat-setting{
    .checkbox{
        @extend .checkbox-common;
        margin-left:0.25em;

    label:before{
    border-color: #707070 !important;
        }
    input:checked + label::before{
            border-color: $primary !important;
        }
    }

    .setting-option{
        width: 100%;
        padding:0.625em 1.25em !important;
        align-items: flex-start !important;
    }
    .errorMesage {
        display: flex;
        align-items: center;
        line-height: 1.2em;
        color: #F44336;
        padding: 0 1.2em;
        margin-bottom: 0.625em;
        width: 96%;
    }
    .label{
        user-select: none;
        margin-left: 1em;
        font-size: $font13;
        color:#181818;
        line-height: 1.125rem;
        display: flex; 
        flex-direction: column;
    }
    .label-info{
        padding: 0 4em 0 4.75em;
        display: block;
        font: normal normal 0.6875rem/0.9375rem $regular;
        letter-spacing: 0px;
        color: #767676;
        margin: -0.5em 0 0.625em 0;
    }
    .language-select{
        margin-top: .5em;
        padding: 0 1.25em 0 3.2em;
        h4{
        font: normal normal 0.8125rem/1.125rem $regular;
        color: #181818;
        margin-bottom: 0.625em;
        }
        .defaultSelected{
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #EDEDED;
            border-bottom: 1px solid transparent;
            
            input{
                font: normal normal 0.8125rem/0.875rem $semibold;
                letter-spacing: 0px;
                color: #000000;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding: 0.625em 0.75em ;
                border:none;
                flex: 1 1 auto;
                background: transparent;
            }
            svg
            {
                width: 0.625em;
                fill: #767676;
                margin-right: 0.9375em;
            }   
            &.active{
                border-bottom: 1px solid #4879F9;
                svg{
                    transform: rotate(-180deg);
                }
            }         
        }

        .info{
            display: flex;
            margin-top: 0.625em;
           span{
            align-items: flex-start;
            font: normal normal 0.6875rem/0.9375rem $regular;
            letter-spacing: 0px;
            color: #767676;
           }
            strong{
                color: #000000;
                white-space: nowrap;
            }
            svg{
                width:0.75em;
                height: auto;
                margin-right: 0.625em;
            }
        }
        .drop-wrapper{
            position: relative;
        >div {
            position: absolute;
            top: 10px;
            left: 0;
            right: 0;
            background: #FFFFFF;
            box-shadow: 0em 0.1875em 0.375em #0000001A;
            border: 0.0625em solid #D3D3D3;
            border-radius: 0.375rem;
            ul{
                overflow: hidden auto;
                max-height: 14em;
                width: 100%;
                height: 100%;
            li{
                border-bottom:1px solid #EDEDED;
                &:last-child{
                border-bottom:1px solid transparent;
                }
                button{
                    text-align: left;
                    cursor: pointer;
                    padding:0.625em 0.9375em;
                    background: transparent;
                    font: normal normal  0.8125rem/1.125rem $medium;
                    color: #181818;
                    width: 100%;
                    height: 100%;
                    border: none;
                    outline: none;
                }
            }
        }
        }
        }
    }
}
