.mention_wraper {
    width: 100%;
    max-height: 21.875em;
    border: 0.34px solid #e8e8e8;
    position: absolute;
    left: 1.5625em;
    right: 0;
    bottom: 2.5em; //calc(100% - 1.6em);
    background-color: #fff;
    display: inline-block;
    max-width: calc(100% - calc(2 * 1.5625em + 3.1em));
    overflow-y: auto;
    padding-bottom: 1.6em;
    z-index: -1;
    ul {
        width: 100%;

        li {
            width: 100%;
        }
    }

    .user_card_action {
        cursor: pointer;
        padding: 12px 18px;
        border: 0;
        width: 100%;
        background-color: transparent;
        border-bottom: 1px solid #e8e8e8;
        transition: 150ms linear ease-in-out;
        .user_card {
            display: flex;
            align-items: center;
        }
        &:hover{
            background-color: #edf4f9;
            transition: 150ms linear ease-in-out;
        }
    }

    .user_image {
        overflow: hidden;
        border-radius: 50%;
        flex-shrink: 0;
        width: 2.25em;
        height: 2.25em;
        border: 1px solid #00000000;
        opacity: 1;
        margin-right: 0.5em;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .user_name {
        font: normal normal 1em/1.25em var(--semibold);
        letter-spacing: 0px;
        color: #181818;
        opacity: 1;
    }
}