@import "../../../assets/scss/mixins.scss";
   
.mediaAttachmemtUpload{
  position: fixed;
    left: auto;
    top: 0;
    right: 0;
    width: 73.70%;
    margin-top: 4.063em;
    bottom: 0;
    background: #DEE1E8 url(../../.././assets/images/chatbg.png) no-repeat center center;
    z-index: 2;
    padding: 0;
    height: calc(100% - 4.063em);
    background-size: cover;
    .uploadImageCaption {
        width: 100%;
        z-index: 2;
        flex: 1 1 auto;
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        .message-area-container{
            width: 80%;
            margin: 0 auto;
            @include flexbox();
            @include align-items(center);
            margin-top: 0.875em;
            margin-bottom: 0.375em;
            padding: 0 0.375em;
          .message-area {
            @include flex(100%);
            @include flexbox();
            @include align-items(center);
            background: $white;
            padding: 0.313em 0.625em  0.313em 2.5em;
            @include border-radius(31px);
            position: relative;
            border: 1px solid #e8e8e8;
            .typing-area {
              display: block;
              background: $white;
              position: relative;
              height: 100%;
              width: 100%;
              padding: 0 0.063em;
              word-break: break-all;
              overflow: auto;
              max-height: 6.500em;
              min-height: 1.1em;
              margin: 0;
              line-height: 18px;
              font-size: $font12;
              font-family: $regular;
              color: #313131;
              white-space: pre-wrap; /* css-3 */
              white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
              white-space: -pre-wrap; /* Opera 4-6 */
              white-space: -o-pre-wrap; /* Opera 7 */
              word-wrap: break-word; /* Internet Explorer 5.5+ */
              text-align: left;
              &:focus {
                outline: none;
                color: #313131;
              }
              & > span {
                line-height: 18px;
                font-size: $font14 !important;
              }
            }
            
            [contentEditable=true]:empty:not(:focus):before {
              content: attr(data-text);
              color: $placeholdertextcolor;
              line-height: 18px;
              font-size: $font12;
              font-family: $regular;
            }
            .emojiPicker-container {
              bottom: 1.563em !important;
              float: none !important;
              margin-left: 0 !important;
              left: 0;
              z-index: -2;
              text-align: left;
              .emoji-mart {
                width: 100% !important;
              }
              .emoji-mart-category-list {
                padding-bottom: 20px;
              }
            }
            .em-slightly_smiling_face {
              position: absolute;
              left: 0.38em;
              width: 1em !important;
              height: 1em !important;
              background: url(../../../assets/images/smile.svg) center center no-repeat;
              background-size: contain !important;
            }
            .intraction.icon {
              position: absolute;
              right: 0;
              @include flexbox();
              @include align-items(center);
              i {
                position: relative;
                cursor: pointer;
                width: 2.5em;
                height: 2.5em;
                display: inline-block;
                border-radius: 50%;
                @include flexbox();
                @include align-items(center);
                @include justify-content(center);
                margin-right:0.938em;
              
                  &.attachment svg {
                    fill: #363636;
                    position: relative;
                    z-index: 1;
                    width: 1.125em;
                  }
                
                  .toggleAnimation{
                  z-index: 1;
                  width: 2.5em;
                  height: 2.5em;
                  }
              }
              a.send {
                display: inline-block;
              }
            }
            
          }
          
          .formbtns{
            a{
              margin-left: 5px;
              border: 1px solid #e8e8e8;
            }
             a,i {
              width: 2.188em;
              height: 2.188em;
              border-radius: 50%;
              background: #fff;
              @include flexbox();
              @include justify-content(center);
              @include align-items(center);
          }

           .send{
                svg{
                width: 1em;
                .a{
                    fill:#4879f9 !important;
                }
                }
          }
        
          }
        
            .captionCount{
              width: 30px;
              font-size: 0.875rem;
              text-align: center;
              margin-left: 0.5em;
            }
        }
    }
    .type-media.audio,.type-media.video{
      flex-direction: column;
      flex: 1 1 100%;
      .uploadImageCaption{
    position: static;
      }
    }
    .carousel.carousel-slider{
      height: calc(80vh - 104px);
      margin: 1.25em 0;
    }
    .carousel-root{ 
      @include flexbox();
      @include justify-content(center);
      @include align-items(center);
      @include flex-direction(column);
      height: calc(100% - 2.125em);
      .thumbs-wrapper{
      background: #E9E9E9;
      margin: 0;
      padding: 10px 0;
      @include flexboxinline();
      @include justify-content(center);
      @include align-items(center);
      width: 100%;
      .thumbs {
      @include flexboxinline();
      @include justify-content(center);
      @include align-items(center);
      @include flex-direction(row);
      .thumb {
        @include flex(0 0 80px);
        min-width: 58px !important;
        min-height: 58px;
        width: 80px;
        height: 80px;
        border: 0.0625em solid  #4879F9 !important;
        padding: 0 !important;
        border-radius: 0.563em;
        overflow: hidden !important;
        position: relative;
        margin-right:0.625em !important;
        .thumb-img{
          position: static !important;
          border: none !important;
          display: inline-block;
          width: 100%;
          height: 100%; 
          border-radius: 0.563em;
          margin: 0;
          img{
            border: none !important;
          }
          p{
            color: #fff;
          }    
          // background: rgba(0 ,0, 0,0.08); 
          &:after{
            opacity: 0;
            content: '';
            position: absolute;
            right:0px !important;
            top: 0px !important;
            bottom: 0px !important;
            left: 0px !important;
            background-size:1.25em;
            border-radius: 0.563em;
              @include transition(all linear 200ms);
          }
          &:hover:after{
            @include transition(all linear 200ms);
              opacity: 1;
              background-image: none !important;
            }
          span{
            position: absolute;
            right:0.25em;
            top: 0.25em;
            background:#000000b8 url(../../../assets/images/preview_close.svg) no-repeat center center;
            width: 0.75em;
            height: 0.75em;
            border-radius: 50%;
            background-size: 0.25em;
            z-index: 1;
          }
          &.file{
            img{
            padding: 0.938em;
            object-fit: contain;
            }
          }
        }
        &.selected{
          border: none !important;
          .thumb-img:after{
            right:0px !important;
            top: 0px !important;
            bottom: 0px !important;
            left: 0px !important;
            background:rgba(0, 0, 0, .5) url(../../../assets/images/drop-media-preview.svg) no-repeat center center !important;
            background-size:1.25em;
            border-radius: 0.563em;
            border: none !important;
            @include transition(all linear 200ms);
            opacity: 1;
          }
          &:hover{
            .thumb-img{
              border: none !important;
            }
          }
        }
    }
      }
    }
    .carousel.carousel-slider .control-arrow{
      width: 45px;
      height: 45px;
      top: 46%;
      &:before{
        background-size: 7px;
        width: 45px;
        height: 45px;
      
      }
      &.control-next{
        right: 8%;
      }
      &.control-prev{
        left: 8%;
      }
    }
  }
  .attachments-header {
    padding: 0.313em 1.25em;
    width: 100%;
    background: $attachments-header;
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
    fill:#fff;
    color:#fff;
    h5{
        font-size: $font14;
    }
    i,svg{
        width: 1.5em;
        height: 1.5em;
    }
    span{
      @include flexbox();
      @include justify-content(center);
      @include align-items(center);
    cursor: pointer;
    i{
      height: 1em;
      margin-right: 0.225em;
      svg{
        height: 1em;
      }
    }
    }
  }
  .carousel-status{
    display: none;
  }
  .react-transform-element.TransformComponent-module_content__TZU5O img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
.attachmentSend {
  position: absolute;
  right: 10%;
  top: -1.5em;
  background: #4879f9;
  border-radius: 50%;
  @include box(3.125em);
  @include box-center();
  i{
  @include box(3.125em);
  @include box-center();
  border-radius: 50%;
  box-shadow: 0px 0px 8px -1px #4879f9;
  svg{
    @include box(1.5em);
  }
  }
}

&.highlight{
  .carousel-root:after {
    position: absolute;
    content: 'Drag Files Here';
    bottom: 0.625em;
    top: calc(2.125em + 0.625em);
    left: 0.625em;
    right: 0.625em;
    border: 0.188em dashed #4879f9;
    background: rgba(237, 244, 249,.62);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font18;
    color: #fff;
  }
}
.vjs-time-tooltip{
  display: none !important;
}
  .video-wrapper1{
    display: flex;
    flex: 1 1 auto;
    width: 80%;
    height: 100%;
    overflow: hidden;
  }
  .video-wrapper-0{
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
  }
}

// upload button design in currosel thum 
.uploadfile{
  display: inline-flex;
  min-width: 58px !important;
  min-height: 58px;
  width: 80px !important;
  height: 80px;
  padding: 0px 0;
  margin:10px 0 0 0.3em;
  cursor: pointer;
> div{
    position: relative;
    user-select: none;
    background:#fff;
    border : 2px dashed #4879F9;
    @include box-center();
    width: 100%;
    border-radius: 6px;
    flex-direction: column;
   label{
    input{ 
      position: absolute; 
      opacity: 0;
    z-index: -1;
    } 
    cursor: pointer;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height:100%;
    opacity: 0;
    }
    i{
      @include box(0.875em);
      margin-bottom: 0.25em;
      background:url(../../../assets/images/media-types/addAttachments.svg) center center no-repeat;
    }
    span{
      font-size: $font12;
      font-family: $medium;
      color:  #4879F9;
      white-space: nowrap;
     
    }
    &.not-allowed{
      cursor: not-allowed;
      opacity: .5;
    }
  }
  
  
}

.uploadImagePreview{
    position: absolute !important;
    width: 100% !important;
    height: 40px !important;
    top: -0.313em;
    z-index: 1;
    .ImagePreviewHead{
        color: #000;
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
    background: #000000c7;
    width: 80%;
    margin: 0 auto;
    padding: 0.5em 1em;
    span{
        font-size: $font16;
    }
    i svg , i .a{
    fill:#fff;
    }
    i, svg {
        width: 1.063em;
        height: 1.063em;
    }
    }
}





.drag-preview {
  @include box-center();
  height: calc(100% - 3.563em);
  @include flex-direction(column);
  margin: 1.25em auto;
.drag-area {
  width: 80% !important;
  height:calc(100vh - 14.875em);
  margin:0 auto  1.25em;
  > div{
  width: 80% !important;
  margin: 0 auto;
  height: 100%;
  background: #fff;
  position: relative;
    overflow: hidden;
  text-align: center;
  @include box-center();
  @include flex-direction(column);
  border-radius: 0.375em;
  border:0.125em dashed #4879F963;
  img{
    width: 6.438em;
    height: 1.938em;
  }
  h1{
    color:#383636;
    font-size: $font17;
    margin: 1.25em 0;
  }
  p{
    color:#B5ADAD;
    font-size: $font12;
    width: 22em;
  }
}
}
.add-files-container {
  background: #E9E9E9;
  margin: 0;
  padding: 10px 0;
  @include flexboxinline();
  @include justify-content(center);
  @include align-items(center);
  width: 100%;
}
}


@media (max-width:1024px){
  .mediaAttachmemtUpload{
  width: 100%;
  display: block;
  z-index: 4;

  .carousel-root .thumbs-wrapper {
    @include flex-wrap(wrap);
  }
  }
}
@media (max-width:767px){
.mediaAttachmemtUpload{
  .video-wrapper1{
    width: 95%;
  }
}
}