@import '../../../assets/scss/variables.scss';
@import '../../../assets/scss/SassMixins.scss';

:root {
  --PrimaryColor: #4879f9;
  --PrimaryColor2: #3464e3;
  --Regular: "SFUIDisplayRegular";
  --Semibold: "SFUIDisplaySemibold";
  --Medium: "SFUIDisplayMedium";
  --Bold: "SFUIDisplayBold";
  --Light: "SFUIDisplayLight";
}

  .form {
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-self: center;
    align-items: center;

    .form-inner, form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-left: auto;
      height: 100%;
      .form-group {
        position: relative;
        margin-bottom: 1.25em;
        max-width: 21.75em;
        width: 100%;
        &.form-group-profile{
          width: auto;
          input{
            display: inline-block;
          }
        }
      }
    .countrySelect{
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
      z-index: 1;
    } 
      select,
      input {
        width: 100%;
        outline: 0;
        padding: 0 0.625em;
        background: transparent;
        border-color: transparent;
        border-bottom: 0.0313em solid #d5d5d5;
        height: 2.5em;
        font: normal normal 0.9375rem/1.1875rem var(--Medium);
        color: #181818;
      }
      input::placeholder {
        font: normal normal 0.9375rem/1.1875rem var(--Medium);
        color: #959595;
      }
      .inputGroup {
        position: relative;
      }
      .inputGroup .dropArrow {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: #181818;
        width: 0.625em;
        height: auto;
        cursor: pointer;
        z-index: 0;
      }
      .inputGroup .dropArrow svg {
        width: 0.625em;
        height: auto;
      }
      .inputGroup .countryCode {
        border-right: 0.0313em solid #d5d5d5;
        padding: 0em 0.5em 0 0;
      }

      .inputGroup.countryInput {
        border-bottom: 0.0313em solid #d5d5d5;
        height: 2.5em;
        display: flex;
        align-items: center;
        width: 100%;
      }
      .inputGroup.countryInput input {
        width: auto;
        height: auto;
        padding-left: 0.5em;
        border: none;
        flex: 1 1 auto;
      }

      .inputGroup select,
      .inputGroup select option {
        cursor: pointer;
      }
      .btn_lg_rounded {
        width: auto;
        height: 3.125em;
        min-height: 3.125em;
        background: var(--PrimaryColor);
        box-shadow: 0rem 0.3125em 2.625em #0000001f;
        border-radius: 1.625em;
        text-align: center;
        font: normal normal 0.875rem/1.1875rem var(--Bold);
        letter-spacing: 0.035em;
        color: #ffffff;
        outline: 0;
        margin-top: 1.5625em;
        cursor: pointer;
        border-color: transparent;
        transition: all linear 200ms;
        padding: 0 4em;
      }
      .btn_lg_rounded:hover {
        transition: all linear 200ms;
        background: var(--PrimaryColor2);
      }

      .otp-input {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
      }
      .otp-input input {
        text-align: center;
        width: 2.5em;
        height: 2.5em;
        border: 0.0625em solid #d1d1d1;
        border-radius: 0.375em;
        background: #f0f0f0;
        font: normal normal 1rem/1.4375rem var(--Semibold);
        color: #181818;
      }
      .otp-input input:invalid {
        background-color: #fff;
      }
      .otp-input input:valid:focus {
        background-color: #fff;
      }
      .otp-input input:focus {
        border-color: transparent;
        box-shadow: 0em 0.25em 1.125em #0000001f;
        caret-color: var(--PrimaryColor);
      }
      .otp-input input:not(:first-child) {
        margin-left: 0.4375em;
      }
      &.otpForm {
        margin: 0 auto;
        .btn_lg_rounded {
          margin-top: 2.5em;
        }
        .Links {
          margin-top: 1.875em;
          display: flex;
        }
        .Links span {
          font: normal normal 0.75rem/1rem var(--Regular);
          letter-spacing: 0px;
          color: #181818;
          padding: 0 0.75em;
          cursor: pointer;
          transition: all linear 200ms;
        }
        .Links span:hover {
          text-decoration: underline;
          transition: all linear 200ms;
        }
        .Links .changeNum {
          color: #ff0000;
        }
        .Links .changeNum:hover {
          color: #f31212;
        }
        .Links .resendOtp:hover {
          color: #3276e2;
        }
        .Links span:not(:first-child) {
          padding-left: 0.75em;
          border-left: 1px solid #dedede;
        }
        .heading{
          text-align: center;
        }
        .register_help_text {
          text-align: center;
          max-width: 19.75em;
         span{
          line-height: 190%;
         }
        }
      }
      &.profileForm {
        margin: 0 auto;
        width: 100%;
        .form-group label {
          margin-top: 0.5rem;
          display: block;
          font: normal normal 0.875rem/1.0625rem var(--Semibold);
          color: #181818;
          padding-left: 0.25em;
        }
        input {
          padding-left: 0.25em;
          font: normal normal normal 0.8125rem/0.9375rem var(--Regular);
          letter-spacing: 0px;
          color: #767676;
        }
        .profileImg {
          position: relative;
          margin-bottom: 0.5rem;
          .userprofile-popup{
            width: auto;
          }
          .profile-image {
            position: relative;
            overflow: visible;
             > div > img , > img{
              @include border-radius(50%);
              margin-bottom: 0;
            }
              i.camera-edit {
                position: absolute;
                right: 0;
                bottom: 0.1875em;
                height: 1.5em;
                width: 1.5em;
              }
              .profile-dropdown {
                min-width: 166px;
                position: absolute;
                left: 0;
                top: 100%;
                background-color: $bgc-profile-dropdown;
                @include box-shadow(0px 3px 6px #0000001A);
                @include border-radius(3px);
                padding: 0.563em 0;
                z-index: 1;
                li {
                  padding: 0.463em 1em;
                  cursor: pointer;
                  &:hover {
                    background-color:$bgc-profile-dropdown-li-hover;
                  }
                  &.upload_photo{
                    position: relative;
                   
                }
                .UploadLabel{
                  position: absolute;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  top: 0;
                  cursor: pointer;
              }
                  i.profileedit-options {
                    height: 0.875em;
                    width: 0.875em;
                    vertical-align: -2px;
                    svg{
                      width: 0.875em;
                      height: 0.875em;
                    }
                  }
                  span {
                    font-size: $font12;
                    color: $clr-profile-dropdown-li-span;
                    font-family: $regular;
                    margin-left: 0.625em;
                    cursor: pointer;
                    .uploadphoto {
                      margin-left: 0;
                      cursor: pointer;
                    }
                    
                  }
                  .uploadphoto {
                    margin-left: 0 !important;
                    position: relative;
                    
                      input {
                      position: absolute;
                      left: 0;
                      bottom: 0;
                      right: 0;
                      top: 0;
                      height: 0;
                      opacity: 0;
                      width: 100%;
                      z-index: -999;
                    }
                    .camera-container {
                      font-size: .9rem;
                      cursor: default;
                      .popup-controls {
                        padding: 1em 1em 0 0;
                        img {
                          background: none;
                        }
                        .reset {
                          position: relative;
                          cursor: pointer;
                          label{
                            width: 100%;
                            height: 100%;
                            cursor: pointer;
                          input {
                            position: absolute;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                            cursor: pointer;
                            z-index: -1;
                          }
                        }
                      }
                      }
                    }
                  }
                }
              }
            }
        }
        .ProfileName {
          border-color: transparent;
          text-align: center;
          font: normal normal 1rem/1rem var(--Semibold);
          letter-spacing: 0px;
          color: #000000;
          padding-right: 2em;
        }
        .ProfileName:focus {
          color: #767676;
        }
        .ProfileName::placeholder {
          font: normal normal 1rem/1rem var(--Semibold);
        }
        button {
          margin-top: 0.375rem;
        }
        .usenameInfo{
          position: relative;
          .usernameEdit{
            position: absolute;
            right: 0;
            margin: 0;
            top: 1em;
            cursor: pointer;
            width: 1.2em;
            height: auto;
          }
          &.edit{
            min-width:9em;
            input{
              width: 8.5em;
              margin: 0 auto;
              display: block;
            }
            .usernameEdit{
              position: absolute;
              right: 1.625rem;
            }
          }
        }
        .heading{
          text-align: center;
        }
        button.btn-cancel:hover{
          color: #fff;
        }
      }
      .error {
        line-height: 1.2em;
        bottom: -1.5em;
        position: absolute;
        color: #f44336;
        font-size: 0.75rem;
        left: 0;
        
        &.center {
          width: 100%;
          text-align: center;
        }
      }
    }
    .info-text{
      display: flex;
      align-items: center;
      max-width: 21.75em;
      width: 100%;
      text-align: center;
      margin: -1em 0 1.5625em;
      i{
        line-height: 100%;
        margin-right: 0.3125em;
        svg{
          width: 0.75em;
          height: auto;
        }
      }
      .text-info{
      font: normal normal 0.625rem/0.8125rem var(--Regular);
      letter-spacing: 0px;
      color: #A6A6A6;
      opacity: 1;
    }
    }
  }

.pageLoader {
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1) no-repeat center center;
  background-size: 50px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  svg{
      width: 50px;
      height: 50px;
  }
}
#profile-status-error{
  position: initial;
}
.privary_policy_wrapper{
  margin-top: 20px;
  text-align: center;
  line-height: 0;
  p{
    font: normal normal 0.6875rem/1.1875rem var(--Light);
    letter-spacing: 0.09px;
    color: #959595;
    display: block;
    margin-bottom: 0.1875em;

  }
  .privary_policy_Link{
    display: flex;
    flex-wrap: wrap;
  }
  a{
text-decoration: underline;
font: normal normal 0.6875rem/1.1875rem var(--Regular);
letter-spacing: 0.09px;
color: #4879F9;
transition: cubic-bezier(0.39, 0.575, 0.565, 1);
&:hover{
  color: #2a5bd7;
  transition: cubic-bezier(0.39, 0.575, 0.565, 1);

}
margin-right: 4px;
  }
  
}
/* responsive */
@media (max-width: 1024px) {
  .loginWrapper .form {
    background-position: right;
  }
}
